<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Productos</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2 class="mb-4">Lista de Productos</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <th scope="row" th:text="${product.id}"></th>
            <th scope="row" th:text="${product.name}"></th>
            <th scope="row" th:text="${product.category}"></th>
            <th scope="row" th:text="${product.price}"></th>

            <td>
                <a class="btn btn-primary">Ver</a>
                <a class="btn btn-success">Editar</a>
                <a class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        <!-- Puedes agregar más filas según sea necesario -->
        </tbody>
    </table>
</div>
<!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de Bootstrap que requieran JS) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
